{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
      <nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand" href="https://www.cybersport.ru/tournaments/cs-go/esl-pro-league-season-16">
      <img src="{% static 'images/mouzsports.png' %} " alt="Bootstrap" width="30" height="30">
    </a>
  </div>
</nav>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/films/">All movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://leetcode.com/">Leetcode</a>
        </li>
          {% for i in categories %}
          <li class="nav-item">
              <a class="nav-link" href="/category/{{i.id}}/films/">{{i.title}}</a>
          </li>
          {% endfor %}
          {% if user.is_authenticated %}
          <li class="nav-item">
          <a class="nav-link" href="/add_film/">Добавить фильм</a>
        </li>
          {% endif %}
            <li class="nav-item">
          <a class="nav-link" href="/registration/">Регистрация</a>
        </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
          <a class="nav-link" href="/logout/">Выйти-{{ user }}</a>
          </li>
          {% else %}
          <li class="nav-item">
          <a class="nav-link" href="/login/">Вход</a>
          </li>
          {% endif %}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
        {% block content %}

        {% endblock %}
    </div>
</div>

</body>
</html>