<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>afisha</title>
</head>
<body>
<a href="http://127.0.0.1:8000">
    <button>Home page</button>
</a>
<h1>The About Us page of your website is an essential source of information for all who want to know more about your business.
About Us pages are where you showcase your history, what is unique about your work, your company’s values, and who you serve.
The design, written content, and visual or video elements together tell an important story about who you are and why you do it.</h1>
<p>{{ time }}</p>
</body>
</html>